{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <link href="{% static 'send.css' %}" rel="stylesheet">
</head>
<body>
<div class="container bootdey">
<div class="email-app">

    <nav>
        <a href="#" class="btn btn-danger btn-block">New Email</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-star"></i> Stared</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-rocket"></i> Sent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-trash-o"></i> Trash</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-bookmark"></i> Important</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
            </li>
        </ul>
    </nav>

    <main>

              <h4 style="text-align: center">Display Emai</h4>
             <div class="form-row mb-3"></div>
            <div class="form-row mb-3"></div>
             <div class="form-row mb-3">Sender : {{qs.sender}}</div>
            <div class="form-row mb-3">Receiver: {{qs.receiver}} </div>
            <div class="form-row mb-3">Subject : {{qs.subject}}</div>
            <div class="form-group mt-4"> <textarea class="form-control" id="message" name="body" rows="12"  readonly>{{qs.body}} </textarea> </div>
             <div class="form-group"><a href="{% url 'emailInbox' %}" class="btn btn-success">Close</a></div>

    </main>
</div>
</div>

<script src='https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

</body>
</html>